/* FontFit is a pure CSS solution for sizing fonts on your responsive website. */

.ff-xs{
	font-size: 2vw;
}

.ff-s {
	font-size: 4vw;
}

.ff-m {
	font-size: 6vw;
}

.ff-l {
	font-size: 8vw;
}

.ff-xl {
	font-size: 15vw;
}